@use '../../../styles/mixins' as *;

.nav {
    padding: theme('spacing.24') theme('spacing.12');
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: theme('colors.blue.darker/.98');
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.59, 0.13, 0.28, 1.15),
        width 0.4s ease-in-out;
    z-index: 98;
    @include media-breakpoint-up(lg) {
        padding: 0;
        width: auto;
        height: auto;
        display: block;
        position: relative;
        background: none;
        transform: none;
        transition: none;
        box-shadow: none;
    }
    &.menuOpen {
        width: 80vw;
        transform: translateX(0);
        box-shadow: -3px 0 6px theme('colors.black/.15');
        @include media-breakpoint-up(lg) {
            width: auto;
            transform: none;
            transition: none;
            box-shadow: none;
        }
    }
    &__items-wrapper {
        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }
    &__item {
        border-bottom: 1px solid theme('colors.white/.1');
        font-size: 1.1rem;
        color: theme('colors.white');
        &:hover {
            &:after {
                content: '';
                display: block;
                width: 80%;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: theme('colors.blue.dark');
            }
        }
        a {
            padding: 1rem;
            display: block;
        }

        @include media-breakpoint-up(lg) {
            padding: 0;
            border-bottom: none;
            font-size: 1rem;
            color: theme('colors.grey.dark');

        }
    }
    &__sub {
        &-items {
            min-width: 200px;
        }
        &-item {
            font-size: 0.9rem;
            padding: 0.8rem 1.6rem;
            &:hover {
                background-color: theme('colors.blue.dark');
            }
            a {
                padding: 0;
            }
        }
    }
}
.backdrop {
    position: fixed;
    margin: 0;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: theme('colors.black/.8');
    opacity: 0;
    z-index: 97;
    &.visible {
        right: 0;
        bottom: 0;
        opacity: 1;
        transition: opacity 0.4s;
    }
}
