//@use '../../styles/mixins' as *;

.card {
    h3 {
        display: inline;
        width: calc(100%);
        background-image: linear-gradient(
            transparent calc(100% - 1px),
            theme('colors.grey.dark') 1px
        );
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size .5s;
    }
    &:hover {
        h3 {
            background-size: 100% 100%;
        }
        img {
            @apply contrast-75;
        }
    }
}
