
.button {
    padding: 12px 30px;
    border: 2px solid theme('colors.blue.dark');
    background-color: theme('colors.blue.dark');
    line-height: 1;
    @apply rounded;
    @apply font-hn;
    @apply text-white;
    @apply transition-all;
    
    &:hover {
        background-color: theme('colors.blue.darker');
        border-color: theme('colors.blue.darker');
    }

    &.light {
        background-color: theme('colors.white');
        border-color: theme('colors.white');
        color: theme('colors.blue.dark');
        &:hover {
            background-color: theme('colors.slate.50');
            border-color: theme('colors.slate.50');
        }
        &.arrow {
            svg {
               path {
                fill: theme('colors.blue.dark');
               }
            }
        }
    }

    &.secondary {
        background-color: transparent;
        color: theme('colors.blue.dark');
        &:hover {
            background-color: transparent;
            border-color: theme('colors.blue.dark');
        }
        &.light {
            &:hover {
                background-color: transparent;
                border-color: theme('colors.white');
            }
        }
        &.arrow {
            svg {
               path {
                fill: theme('colors.blue.dark');
               }
            }
        }
    }
    &.arrow {
        svg {
            @apply transition-transform;
        }
        &:hover {
            svg {
                @apply translate-x-1;
            }

        }
    }
    &.loading {
        position: relative;
        border: none !important;
        pointer-events: none;
        background-color: theme('colors.slate.50');
        overflow: hidden;
        color: theme('colors.grey.79');
        &:after {
            content: '';
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(
                90deg,
                theme('colors.slate.50'),
                rgba(255,255,255,.25),
                theme('colors.slate.50'),
            );
            z-index: 0;
            animation: btn-loading-animation 1.5s infinite
                cubic-bezier(0.13, 0.13, 0.07, 1.17);
            pointer-events: none;
        }
    }

    @keyframes btn-loading-animation {
        0% {
            transform: translateX(-200%);
        }
        100% {
            transform: translateX(200%);
        }
    }
}