@use './mixins' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

// FONTS
@font-face {
    font-family: 'ITCAvantGardeStdBk';
    src: url('../asset/fonts/ITCAvantGarde/ITCAvantGardeStd-Bk.woff2')
            format('woff2'),
        url('../asset/fonts/ITCAvantGarde/ITCAvantGardeStd-Bk.woff')
            format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITCAvantGardeStdMd';
    src: url('../asset/fonts/ITCAvantGarde/ITCAvantGardeStd-Md.woff2')
            format('woff2'),
        url('../asset/fonts/ITCAvantGarde/ITCAvantGardeStd-Md.woff')
            format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@layer base {
    * {
        box-sizing: border-box;
    }
    html,
    body {
        padding: 0;
        margin: 0;
        @apply font-base;
        @apply text-grey-dark;
    }

    h1,
    h2 {
        @apply font-hn;
    }
    h1 {
        @apply text-2xl;
        @apply md:text-3xl;
        @apply lg:text-5xl;
    }
    h3 {
        @apply text-lg;
        .list & {
            @apply font-medium;
        }
    }
    

    section {
        width: 100%;
        @apply px-4;
        @apply md:px-7;
        @apply lg:px-12;
    }
    .main {
        @apply py-4;
        @apply lg:py-16;
        @apply w-screen;
    }
}

.background_curve {
    position: relative;
    &:after {
        content: '';
        width: 100%;
        height: 25%;
        position: absolute;
        bottom: -2px;
        left: 0;
        background: url(../asset/images/wave.svg) 0 0 no-repeat;
        background-size: cover;
        z-index: -1;

    }
}

// Index Page
.latest-posts {
    .latest-posts {
        &-container {
            grid-template-areas:
                'last-post last-post'
                ' . .';
            @include media-breakpoint-up(lg) {
                grid-template-areas:
                    'last-post . .'
                    'last-post . .';
            }
        }
        
        &-item:first-child {
            grid-area: last-post;
            .image-container {
                width: 100%;
                height: 200px;
                @include media-breakpoint-up(md) {
                    height: 300px;
                }
                @include media-breakpoint-up(lg) {
                    width: unset;
                    height: unset;
                }
                > span {
                    @include media-breakpoint-down(lg) {
                        position: unset !important;
                    }
                }
                img {
                    width: 100% !important;
                    height: unset !important;
                    object-fit: cover;
                    @include media-breakpoint-up(lg) {
                        width: 0 !important;
                        height: 0 !important;
                        object-fit: unset;
                    }
                }
            }
        }
    }
}

// Cards
// ** Underline Title on hover **
.card {
    h3 {
        display: inline;
        width: calc(100%);
        background-image: linear-gradient(
            transparent calc(100% - 1px),
            theme('colors.grey.dark') 1px
        );
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size .5s;
    }
    &:hover {
        h3 {
            background-size: 100% 100%;
        }
        img {
            @apply contrast-75;
        }
    }
}
