@use './mixins' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

// FONTS
@font-face {
    font-family: 'ITCAvantGardeStdBk';
    src: url('../asset/fonts/ITCAvantGarde/ITCAvantGardeStd-Bk.woff2')
            format('woff2'),
        url('../asset/fonts/ITCAvantGarde/ITCAvantGardeStd-Bk.woff')
            format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITCAvantGardeStdMd';
    src: url('../asset/fonts/ITCAvantGarde/ITCAvantGardeStd-Md.woff2')
            format('woff2'),
        url('../asset/fonts/ITCAvantGarde/ITCAvantGardeStd-Md.woff')
            format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@layer base {
    * {
        box-sizing: border-box;
    }
    html,
    body {
        padding: 0;
        margin: 0;
        @apply font-base;
        @apply text-grey-dark;
    }

    h1,
    h2 {
        @apply font-hn;
    }
    h1 {
        @apply text-2xl;
        @apply md:text-3xl;
        @apply lg:text-5xl;
    }
    h2 {
        @apply text-xl;
        @apply md:text-2xl;
        @apply lg:text-3xl;
    }
    h3 {
        @apply text-lg;
        .list & {
            @apply font-hn;
        }
    }

    section,
    header {
        width: 100%;
        @apply px-4;
        @apply md:px-7;
        @apply lg:px-12;
    }
    main {
        @apply py-4;
        @apply lg:pb-16;
        @apply w-screen;
        
        .list {
            @apply mt-4;
            @apply lg:mt-8;
        }
    }

    strong {
        @apply font-medium;
    }

    ul {
        li {
            padding-left: 16px;
            margin: 8px 0;
            &:before {
                content: '•';
                margin-right: 4px;
                color: theme('colors.blue.medium');
            }
            header &,
            footer &,
            .elementor-widget-icon-list & {
                padding: 0;
                margin: 0;
                &:before {
                    display: none;
                }
            }
        }
    }

    .breadcrumbs {
        ol {
            display: flex;
            gap: 8px;
            li {
                @apply text-xs;
                @apply lg:text-sm;
                a {
                    transition: color 0.2s ease;
                    &:hover {
                        color: theme('colors.blue.medium');
                    }
                }
                &:last-child {
                    @apply font-medium;
                }
            }
        }
    }
}

.background_curve {
    position: relative;
    &:after {
        content: '';
        width: 100%;
        height: 25%;
        position: absolute;
        bottom: -2px;
        left: 0;
        background: url(../asset/images/wave.svg) 0 0 no-repeat;
        background-size: cover;
        z-index: -1;
    }
}

// Cards
// ** Underline Title on hover **
.card {
    h3 {
        display: inline;
        width: calc(100%);
        background-image: linear-gradient(
            transparent calc(100% - 1px),
            theme('colors.grey.dark') 1px
        );
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size 0.5s;
    }
    &:hover {
        h3 {
            background-size: 100% 100%;
        }
        img {
            @apply contrast-75;
        }
    }
}

// Wordpress Gutenberg
/* Layout */
.is-layout-flex {
    @apply flex;
}
/* Button */
.wp-block-button {
    .wp-block-button__link {
        padding: 12px 30px;
        border: 2px solid theme('colors.blue.dark');
        background-color: theme('colors.blue.dark');
        line-height: 1;
        @apply rounded;
        @apply font-hn;
        @apply text-white;
        @apply transition-all;

        &:hover {
            background-color: theme('colors.blue.darker');
            border-color: theme('colors.blue.darker');
        }
    }
    &.is-style-outline {
        .wp-block-button__link {
            background-color: transparent;
            color: theme('colors.blue.dark');
            &:hover {
                background-color: transparent;
                border-color: theme('colors.blue.dark');
            }
        }
    }
}

/* Posts */
article {
    p {
        @apply mb-2;
        @apply md:mb-3;

        a {
            display: inline;
            width: calc(100%);
            @apply font-medium;
            color: theme('colors.blue.medium');
            background-image: linear-gradient(
                transparent calc(100% - 1px),
                theme('colors.blue.medium') 1px
                );
                background-repeat: no-repeat;
                background-size: 0% 100%;
            transition: background-size 0.5s;
            &:after {
                content: '\f08e';
                font-family: 'FontAwesome';
                margin-left: 8px;
            }
            &:hover {
                background-size: 100% 100%;
            }
        }
    }
    .wp-block-image {
        display: block !important;
        img {
            display: inline;
        }
    }
    .wp-block-gallery {
        gap: 30px;
    }
}
.single {
    max-width: 1440px;
    margin: 0 auto;
}

/* Footer */

footer {
    .social {
        a {
            width: 40px;
            height: 40px;
            padding: 6px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            border-color: theme('colors.white');
            border-radius: 50%;
            color: theme('colors.white');
            &:hover {
                background-color: theme('colors.white');
                color: theme('colors.blue.dark');
            }
            svg {
                width: 18px;
                height: auto;
            }
        }

        &-facebook {
            a {
                svg {
                    width: 13px;
                }
            }
        }
    }
}

// Material icons
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
